<amexio-row>
        <amexio-column [size] =6 >
            <amexio-card [header]="true">
                    <amexio-header>
                        Bar Chart
                    </amexio-header>
                    <amexio-body>
                            <amexio-d3-chart-line (onLegendClick)="onClick($event)" 
                                (onChartClick)="onClick($event)"  
                                [title]="'Line Chart'" 
                                [data] = "multilinedata">
                             </amexio-d3-chart-line>            
                    </amexio-body>
                    <amexio-action>
                        footer
                    </amexio-action>
            </amexio-card>        
        </amexio-column>

        <amexio-column [size] =6 >
                <amexio-card [header]="true">
                        <amexio-header>
                            Bar Chart
                        </amexio-header>
                        <amexio-body>
                                <amexio-d3-chart-line (onLegendClick)="onClick($event)" 
                                    (onChartClick)="onClick($event)"  
                                    [title]="'Line Chart'" 
                                    [data] = "singleline">
                                 </amexio-d3-chart-line>            
                        </amexio-body>
                        <amexio-action>
                            footer
                        </amexio-action>
                </amexio-card>        
        </amexio-column>
    
</amexio-row>
    
<amexio-row>
    <amexio-column [size] =6 >
        <amexio-card [header]="true">
                <amexio-header>
                    Bar Chart
                </amexio-header>
                <amexio-body>
                    <amexio-d3-chart-donut  [title]="'Donut Chart'" [data] = "barchartdata" [color] = "barchartcolor">
                    </amexio-d3-chart-donut>            
                </amexio-body>
                <amexio-action>
                    footer
                </amexio-action>
        </amexio-card>        
    </amexio-column>
</amexio-row>
<amexio-row>
    <amexio-column [size] =6 >
        <amexio-card [header]="true">
                <amexio-header>
                    Bar Chart
                </amexio-header>
                <amexio-body>
                    <amexio-d3-chart-pie  [title]="'Pie Chart'" [data] = "barchartdata" [color] = "barchartcolor">
                    </amexio-d3-chart-pie>            
                </amexio-body>
                <amexio-action>
                    footer
                </amexio-action>
        </amexio-card>        
    </amexio-column>
</amexio-row>
    
<!-- 
<amexio-row>
    <amexio-column [size] =6 >
        <amexio-card [header]="true">
            <amexio-header>
                Bar Chart
            </amexio-header>
            <amexio-body>
                <amexio-d3-chart-bar  [title]="'Bar Chart'" [data] = "barchartdata" [color] = "barchartcolor">
                </amexio-d3-chart-bar>            
            </amexio-body>
            <amexio-action>
                footer
            </amexio-action>
        </amexio-card>        
    </amexio-column>
    <amexio-column [size] =6 >
        <amexio-card [header]="true">
            <amexio-header>
                Bar Chart
            </amexio-header>
            <amexio-body>
                <amexio-d3-chart-bar  [title]="'Bar Chart'" [data] = "barchartdata" [color] = "barchartcolor">
                </amexio-d3-chart-bar>            
            </amexio-body>
            <amexio-action>
                footer
            </amexio-action>
        </amexio-card>        
    </amexio-column>
</amexio-row>








<amexio-row>
        <amexio-column [size] =6 >
            <amexio-card [header]="true">
                <amexio-header>
                    Bar Chart
                </amexio-header>
                <amexio-body>
                    <amexio-d3-chart-bar  [title]="'Bar Chart'" [data] = "barchartdata" [color] = "barchartcolor">
                    </amexio-d3-chart-bar>            
                </amexio-body>
                <amexio-action>
                    footer
                </amexio-action>
            </amexio-card>        
        </amexio-column>
        <amexio-column [size] =6 >
            <amexio-card [header]="true">
                <amexio-header>
                    Bar Chart
                </amexio-header>
                <amexio-body>
                    <amexio-d3-chart-bar  [title]="'Bar Chart'" [data] = "barchartdata" [color] = "barchartcolor">
                    </amexio-d3-chart-bar>            
                </amexio-body>
                <amexio-action>
                    footer
                </amexio-action>
            </amexio-card>        
        </amexio-column>
    </amexio-row>
    
    
    
    
    
     -->